form {
  background-color: white;
  #main {
    @include column(12); }
  #sidebar {
    @include prepend(1);
    @include column(10, true); }
  fieldset {
    margin: 1px;
		margin-top: 0px;
		padding: 0px;
		border: 0px;
    @include column(15, true);
    #contact #content & {
      > div {
        @include column(15, true);
/*        padding: 15px;*/
/*        background-color: #f5f5f5;*/
        h3 {
          color: #333; } }
      > div + div {
        background-color: transparent;
        @include prepend(1);
        @include column(5, true);
        padding-left: 30px;
        h3 {
          color: inherit; } } } }
  label {
    &.error, &.invalid, &.success {
      color: black;
      background-color: #eeeeee;
      border: 1px solid #cccccc;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 140%;
      padding: 10px;
      input {
        background-color: #f1fdc6 - #111111;
        width: 95%; } }
    &.required {
      input {
        font-size: 1.2em; } }
    &.success {
      color: black; }
    display: block;
    position: relative;
    font-size: 1.1em;
    margin-bottom: 10px;
    small {
      position: absolute;
      right: 0;
      font-size: 90%;
      text-transform: none;
      text-align: right;
      margin-left: 40%;
      a:hover {
        color: #cccccc;
        border-color: #888888; } } }
  input[type="text"], textarea {
    display: block;
    width: 95%;
    padding: 8px;
    margin-top: 4px;
    background-color: white;
    border: 1px solid #cccccc; }
  input[type="text"] {
    &:focus {
      background-color: #f1fdc6 + #111111; } }
  textarea {
    height: 200px; }

  p.success {
    color: #2c421b;
    background-color: #8acd55;
    padding: 5px 15px;
    border-top: 1px solid #a9fa68;
    border-bottom: 1px solid #6fa444;
    margin: 1px !important; }
  div.error {
    color: #5f311b;
    background-color: #fda56d;
    border-top: 1px solid #fcc8a4;
    border-bottom: 1px solid #ae5832;
    padding: 5px 5px;
    margin: 1px 0px 10px !important; }
  &#publish-article {
    text-align: center;
    fieldset {
      button#submit {
        cursor: pointer;
        color: #333333;
        background: url("../images/button.gif") 0 0 no-repeat;
        width: 130px;
        height: 30px;
        border: none; } } } }
